#demomustachefrontend {
	background-color: #2b2a33;
	padding: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
	color: #ffffff;
	.cover {
		padding: 3rem 0;
		margin-bottom: 2rem;
		overflow: hidden;
		position: relative;
		.cover-image {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-size: cover;
			background-position: center;
		}
		h1 {
			font-size: 5rem;
		}
		h2 {
			font-size: 2rem;
		}
	}
	.row {
		margin: 1rem;
	}
	.text-muted {
		color: #c0c0c0 !important;
	}
	h3.text-muted img {
		max-width: 95%;
		border: solid .125rem #303030;
		background: #ffffff;
		padding: .75rem;
		margin: .75rem;
	}
}
/* Position must be relative within UI */
.objext #demomustachefrontend {
	position: relative;
	background: transparent;
	.cover {
		border-radius: 3rem;
	}
	h3.text-muted img, .product {
		border-radius: 1rem;
	}
}
